.vscode/**
.vscode-test/**
.gitignore
.prettierignore
bun.lock
esbuild.js
eslint.config.mjs
tsconfig.json
vsc-extension-quickstart.md
public/**
scripts/**
src/__test__/**
src/types/**
src/themes/blur-theme/**
dist/**/*.map
analizar/**
